<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>
<body>
  {{{ body }}}
</body>
</html>
