<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Journal Project</title>
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>
<body>
  <form action="/search" method="get">
    <input type="text" id="query" name="query">
    <input type="submit" value="Search">
  </form>

  <ul id="post-list">
    {{#each posts}}
    <li><a href="/post/{{this}}">{{this}}</a></li>
    {{/each}}
  </ul>
</body>
</html>
