<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search for {{ query }}</title>
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>
<body>
  <span>You searched for "{{ query }}" - {{ num_entries }} result(s).</span>
  <hr>
  {{#each entries}}
  <div>
    <p><a href="/post/{{ title }}">{{ title }}</a></p>
    <p>
    ...{{ left_text }}
    <span class="queryString" style="color: red">{{ ../query }}</span>
    {{ right_text }}...</p>
  </div>
  {{/each}}
</body>
</html>
